<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .angle-div {
      margin: 30px;
      width: 100px;
      height: 100px;
      background: blue;
    }
  </style>
</head>

<body>
  <div class="angle-div"></div>


  <script>

    let timer = null;
    let Deg = 0;
    let distance = 360;
    var _requestAnimationFrame_ = window.requestAnimationFrame || window.webkitRequestAnimationFrame;
    let angleDiv = document.querySelector(".angle-div");
    cancelAnimationFrame(timer);
    let fn = () => {
      if (Deg < distance) {
        Deg++;
      } else {
        Deg = 0;
      };
      angleDiv.style.transform = `rotateZ(${Deg}deg) translateZ(0)`;
      angleDiv.style.WebkitTransform = `rotateZ(${Deg}deg) translateZ(0)`;
      timer = _requestAnimationFrame_(fn);
    }
    timer = _requestAnimationFrame_(fn);
  </script>
</body>

</html>