
.print-btn
    padding 6px 10px
    border none
    outline none 
    background #FF6600
    color #fff
    cursor pointer
    position absolute 
    top -35px
    left 10px
    border-radius 5px

@media print {
  .print-btn{
    display:none;
  }
  #print-nav{
    display:none;
  }
}