
.print-btn
    padding 6px 10px
    border none
    outline none 
    background #FF6600
    color #fff
    cursor pointer
    position absolute 
    top 40px
    left 80%
    border-radius 5px

@media print {
  .print-btn{
    display:none;
  }
  #print-nav{
    display:none;
  }
}